<div class="bootstrap-wrapper">
	<div class="container">
        <h2>Interval</h2>
		<div class="row">
            
            <div class="col-md-4">
                <mat-card>
                    <mat-card-header >User1</mat-card-header>
                    <hr>
                    
                    <ul id="elContainer1">
                        
                    </ul>
                  </mat-card>
                  
            </div>

            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>User2</mat-card-header>
                    <hr>
                    <ul id="elContainer2">
                        
                    </ul>
                  </mat-card>
            </div>
            

            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>User3</mat-card-header>
                    <hr>
                    <ul id="elContainer3">
                       
                    </ul>
                  </mat-card>
            </div>
            
		</div>

        
	</div>
</div>



<div class="bootstrap-wrapper">
	<div class="container">
        <h2>Timer</h2>
		<div class="row">
            
            <div class="col-md-4">
                <mat-card>
                    <mat-card-header >User1</mat-card-header>
                    <hr>
                    
                    <ul id="timerelContainer1">
                        
                    </ul>
                  </mat-card>
                  
            </div>

            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>User2</mat-card-header>
                    <hr>
                    <ul id="timerelContainer2">
                        
                    </ul>
                  </mat-card>
            </div>
            

            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>User3</mat-card-header>
                    <hr>
                    <ul id="timerelContainer3">
                       
                    </ul>
                  </mat-card>
            </div>
            
		</div>

        
	</div>
</div>