
<mat-toolbar   color="primary">
  <a routerLink="/"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <span>Home</span>
</a>

  <span class="example-spacer"></span>

  <a [routerLink]="'/observalebles'"
    mat-icon-button class="example-icon favorite-icon mr20"
    aria-label="Example icon-button with heart icon">
    Observalebles
  </a>

  <a [routerLink]="'/promises'"
  mat-icon-button class="example-icon mr20 ml"
    aria-label="Example icon-button with share icon">
    Promises
  </a>

  <a [routerLink]="'/asyncWait'"
  mat-icon-button class="example-icon mr20"
    aria-label="Example icon-button with share icon">
    Async-Wait
  </a>
</mat-toolbar>

