
<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink= "formEvent">From Event</a>
                
            </li>
            <li>
                <a routerLink="interval-timer">Interval & Timer</a>
                
            </li>
            <li>
                <a routerLink="of-from">Of & From</a>
                
            </li>

            <li>
                <a routerLink="toArray">toArray</a>
                
            </li>


            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>

            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>

            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>

            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>

            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>
            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>
            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>
            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>
            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>
            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>
            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>
            <li>
                <a routerLink="from-event">From Event</a>
                
            </li>
            
        </ul>
    </div>
</div>