<div class="bootstrap-wrapper">
	<div class="container">
        <h2>From Event</h2>
		<div class="row">
            <div class="col-md-4">
                <mat-card>
                    <mat-card-header >Add video</mat-card-header>
                    <hr>
                    <!-- <button mat-button color="primary" class="font_" #addVideoButton> Add</button> -->
                    <button  class="font_" #addVideoButton (click)="ngAfterViewInit()"> Add</button>
                  </mat-card>
                  
            </div>

            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>video</mat-card-header>
                    <hr>
                    <ul id="elContainer">
                        
                    </ul>
                  </mat-card>
            </div>
            

            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>video</mat-card-header>
                    <hr>
                    <ul id="elContainer2">
                        
                    </ul>
                  </mat-card>
            </div>
            
		</div>

        
	</div>
</div>